---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header" role="banner">
        <div class="wrapper animated fadeIn">
            <div class="content">
                <div class="post-title">
                    <h1>Marsan's Resume</h1>
                    <a class="btn zoombtn" href="/">
                        <i class="fa fa-home"></i>
                    </a>
                </div>
                <div class="post-list">
                    ## Here is my resume

                    **1 page version:**  
                    [https://dl.dropboxusercontent.com/u/58167799/marsan_resume_en.pdf](https://dl.dropboxusercontent.com/u/58167799/marsan_resume_en.pdf){:target="_blank"}  

                    **full version:**  
                    [https://dl.dropboxusercontent.com/u/58167799/marsan_resume_en_long.pdf](https://dl.dropboxusercontent.com/u/58167799/marsan_resume_en_long.pdf){:target="_blank"}  


                </div>
            </div>
        </div>
    </header>
    {% include scripts.html %}
    <script src="{{ site.url }}/assets/js/wow.min.js"></script>
    <script type="text/javascript">(new WOW).init();</script>
</body>
</html>
